* {
    box-sizing: border-box;
}

body {
    background-color: darkcyan
}
.input1{
    margin: 70px;
    border-radius: 10px;
    border-color: blue;
    text-align: center
}
.input2{
    border-radius: 10px;
    border-color: blue;
    text-align: center;
}
.title{
    color: chartreuse
}
.button{
    background-color: blue;
    border-radius: 30px;
    width:680px;
    height:40px;
    align-self: center;
}
.state{
    color: red
}
.BMI{
    color: chartreuse
}
